<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservas</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/styles1.css" />

  </head>
  <body>
    <div class="image-container"></div>
    <div id="newButtonsContainer">
      <button id="checkIn" class="btn btn-primary">Check-In</button>
      <button id="checkOut" class="btn btn-primary">Check-Out</button>
      <button id="novaReserva" class="btn btn-primary">Nova Reserva</button>
      <button class="btn btn-primary">Alterações</button>
      <button class="btn btn-primary">Cancelar Reserva</button>
      <button class="btn btn-primary">Listar Reservas</button>
      <button id="menu" class="btn btn-primary" href="/index">Menu</button>
    </div>
    <script src="/static/js/reservas.js"></script>
  </body>


</html>
